<div class="toolbar" role="banner">
  <!-- <img
    width="180"
    alt="Rubik's Code Logo"
    <!-- src="../assets/RC-logo-for-light-bg.png" -->
  
  <ul class="nav navbar-nav" routerLinkActive="active">
    <li class="nav-item"><a class="nav-link" routerLink="load">Classification</a></li> 
    <li class="nav-item"><a class="nav-link" routerLink="predict">Clustering</a></li>
  </ul>
</div>

<div class="content" role="main">
  <!-- <h1>Application Recommendation System using Clustering</h1>
   -->
  <router-outlet></router-outlet>

</div>



