<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>FDM MINI PROJECT</title>

<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.1.1-dist/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.1.1-dist/js/bootstrap.min.js') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-5.1.1-dist/css/bootstrap.min.css') }}">  



<!-- <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="../Views/bootstrap-5.1.1-dist/css/bootstrap.min.css"> 
<script src="../Views/bootstrap-5.1.1-dist/js/bootstrap.min.js"></script> 
<script src="Components/research.js"></script>  -->


  
</head>

<body>

<br><br><br><br>
    <div class="cintainer-fluide">
        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-3">

                <div class="card w-70">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                      <!-- <a href="#" class="btn btn-primary">Button</a> -->
                      <form action="{{ url_for('predict')}}"method="post">

                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name= 'encounter_id' placeholder="Encounter ID" aria-label="encounter_id" aria-describedby="button-addon2">
                            
                        </div>
                        <br>
                        
                        

                        
        
                        <button type="submit" class="btn btn-success">Submit</button>
       
                        </form>

                    </div>
                    
                </div>

                   

            </div>


            <div class="col-7">
                <div class="card w-150">
                    <div class="card-body">
                      <!-- <h5 class="card-title">Card title</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Button</a> -->
                      {{ prediction_text }}

                            

                    </div>
                </div>

            </div>

            <div class="col-md-1">

            </div>

        </div>

        <br><br><br><br>

        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-10">
                <div class="card w-150">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Button</a>

                            

                    </div>
                </div>

            </div>
            <div class="col-md-1">

            </div>



        </div>
    </div>



   

 </div>
</body>
</html>