<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>FDM MINI PROJECT</title>

<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.1.1-dist/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.1.1-dist/js/bootstrap.min.js') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-5.1.1-dist/css/bootstrap.min.css') }}">  
<!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>


<!-- <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="../Views/bootstrap-5.1.1-dist/css/bootstrap.min.css"> 
<script src="../Views/bootstrap-5.1.1-dist/js/bootstrap.min.js"></script> 
<script src="Components/research.js"></script>  -->


  
</head>

<body>

<br>
    <div class="cintainer-fluide">
        <div class="row">
            <center>
            <h3>
                <small class="text-muted">Predict</small>
                Diebetic Patient Re-admission
            </h3>
            </center>

        </div>
        <br>
    

        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-3">

                <div class="card w-70">
                    <div class="card-body">
                      <h5 class="card-title">Please enter Encounter ID</h5>
                      <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                      <!-- <a href="#" class="btn btn-primary">Button</a> -->
                      <form action="{{ url_for('predict')}}"method="post">

                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name= 'encounter_id' placeholder="Encounter ID" aria-label="encounter_id" aria-describedby="button-addon2">
                            
                        </div>
                        <br>
                        
                        

                        
        
                        <button type="submit" class="btn btn-success">Submit</button>
       
                        </form>

                    </div>
                    
                </div>

                   

            </div>


            <div class="col-7">
                <div class="card w-150">
                    <div class="card-body">

                        {{encounterID}} &nbsp&nbsp&nbsp {{patient_nbr}}
                        <br>
         
                        {{payer_code}}  &nbsp&nbsp&nbsp {{ prediction_text }}
                        
                        
                            

                    </div>
                </div>

            </div>

            <div class="col-md-1">

            </div>

        </div>

        <br><br><br><br>

        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-10">
                <div class="card w-150">
                    <div class="card-body">
                      <h5 class="card-title">Plot(additional details)</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <div id="labels" style="display: none;">{{labels}}</div>
                      <div id="values" style="display: none;">{{values}}</div>
                      
                      <canvas id="myChart" width="600" height="400"></canvas>
                        <script>
                            
                        var ctx = document.getElementById('myChart').getContext('2d');
                        var lab = document.getElementById('labels');
                        var dat = document.getElementById('values');
                        var x = 0;
                        var myChart = new Chart(ctx, {
                               

                            type: 'bar',
                            data: {
                                labels: ['BC', 'CH', 'CM', 'CP', 'BM', 'FR', 'HM', 'MC', 'MD', 'MP', 'OG', 'OT', 'PO', 'SI', 'SP', 'UN', 'WC'],
                                // labels: lab.innerHTML,
                                datasets: [{
                                    label: 'just',
                                    // data: dat.innerHTML,
                                    data: [12, 19, 3, 5, 2, 3],
                                    backgroundColor: [
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(54, 162, 235, 0.2)',
                                        'rgba(255, 206, 86, 0.2)',
                                        'rgba(75, 192, 192, 0.2)',
                                        'rgba(153, 102, 255, 0.2)',
                                        'rgba(255, 159, 64, 0.2)'
                                    ],

                                    borderColor: [
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(153, 102, 255, 1)',
                                        'rgba(255, 159, 64, 1)'
                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            },
                            options: {
                                    responsive: false
                                }
                        });
                        
                        </script>
                         <!-- <canvas id="lineChart" width="900" height="400"></canvas>
                        // <script>
                        //     var ctx = document.getElementById("lineChart").getContext("2d");
                        //     var lineChart = new Chart(ctx, {
                        //         type: "line",
                        //         data: {
                        //             labels: {{ labels | safe}}
                        
                        //             datasets: [
                        //                 {
                        //                     label: "Data points",
                        //                     data: {{ values | safe}}
                        //                     fill: false,
                        //                     borderColor: "rgb(75, 192, 192)",
                        //                     lineTension: 0.1
                        //                 }
                        //             ]
                        //         },
                        //         options: {
                        //             responsive: false
                        //         }
                        //     });
                        // </script>    -->

                    </div>
                </div>

            </div>
            <div class="col-md-1">

            </div>



        </div>
    </div>



   

 </div>
</body>
</html>